<!-- <div class="container">
   <button  class="btn btn-primary" (click)="Show()" [disabled] = "isDisabled">Show</button>  
    <table class="table" style="margin-top:20px;" *ngIf="getdataService.signList.length > 0" >
        <thead class="thead-dark" >
            <tr>
                <th scope="col"> First Name:</th>
                <th scope="col">Last Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">State</th>
                <th scope="col">Date</th>
                <th scope="col">Experienced</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item1 of getdataService.signList">
                 {{getdataService.signList | json}} 
                <td>{{item1.personalData.fname}}</td>
                <td>{{item1.personalData.lname}}</td>
                <td>{{item1.personalData.gender}}</td>
                <td>{{item1.personalData.email}}</td>
                <td>{{item1.personalData.password}}</td>
                <td>{{item1.personalData.state}}</td>
                <td>{{item1.personalData.date}}</td>
                <td>{{item1.personalData.exp}}</td>
            </tr>
        </tbody>
    </table>
    
</div> -->
<div class="row">

  <div class="col-md-5">
    <div class="pt-2" style="width: 18rem;">
      <div *ngFor="let item1 of currentList; let i = index" class="pt-3" (click)="selecteditem(i)">
        <div class="card btn-light">
          <h3 class="card-title text-center title-color p-1"><strong>{{item1.personalData.fname}}</strong>
          </h3>


        </div>
        <div class="card btn-light">
          <h3 class="card-title text-center title-color p-1"><strong>{{item1.personalData.lname}}</strong>
          </h3>


        </div>
        <div class="card btn-light">
          <h3 class="card-title text-center title-color p-1"><strong>{{item1.personalData.gender}}</strong>
          </h3>


        </div>
        <div class="card btn-light">
          <h3 class="card-title text-center title-color p-1"><strong>{{item1.personalData.email}}</strong>
          </h3>


        </div>
        <div class="card btn-light">
          <h3 class="card-title text-center title-color p-1"><strong>{{item1.personalData.password}}</strong>
          </h3>


        </div>
        <div class="card btn-light">
          <h3 class="card-title text-center title-color p-1"><strong>{{item1.personalData.state}}</strong>
          </h3>


        </div>
        <div class="card btn-light">
          <h3 class="card-title text-center title-color p-1"><strong>{{item1.personalData.date}}</strong>
          </h3>


        </div>
        <div class="card btn-light">
          <h3 class="card-title text-center title-color p-1"><strong>{{item1.personalData.exp}}</strong>
          </h3>


        </div>
      </div>
    </div>
  </div>




  <div class="col-md-7 pt-4" >
    <div class="card btn-light" style="width: 25rem;">
      <h3 class="card-title text-center title-color p-1"><strong>{{pData}}</strong></h3>
      <div class="pl-3 pr-3">
        <div>
        </div>
        <div class="pt-2">
          <h3 class="text-center p-1">
            <h3 class="card-title text-center title-color p-1"><strong></strong>
            </h3>
          </h3>



        </div>
      </div>
    </div>
  </div>

</div>