<!-- <div class="container">
 <app-add-item></app-add-item> 
<app-sign-upform></app-sign-upform>

</div> -->
<h1>Angular Router</h1>
<nav>
  <a routerLink="/signup" routerLinkActive="active">Sign -up</a>

  <a routerLink="/successsign" routerLinkActive="active">show all</a>
</nav>
<router-outlet></router-outlet>