<!-- String Interpolation -->
<h3>String interpolation:{{stringInt}}</h3>

<!-- Event Binding -->
<button (click)="testFunction()">Event Binding</button>

<!-- Two-way Binding -->
<div *ngIf="isShow">
    Enter a value <input type="text" [(ngModel)]="name">
    <label id="lblName"> {{name}} </label>
</div>

<!-- structural Directives ngIf -->
<button (click)="showOnClick()">Click Here..</button>

<div *ngIf="showHide">
    <input type="text" />
    <input type="text" />
</div>

<!-- Structural Directives ngFor -->
<ul *ngFor="let item of array1" >
    <!-- {{item | json}} -->
    <li [ngClass]="{
        'styleclass':item.name === 'abc',
        'styleclass1':item.name === 'pqr',
        'styleclass2':item.name === 'mno'
      }"  >
        {{item.name}}
    </li>
</ul>

<!-- Attribute Directive ngStyle -->
<label [ngStyle]="{'background-color':showHide ? 'red' : 'green' }"   >okay</label>

<label [ngStyle]="currentStyles" >okay1</label>

<!-- Attribute directive ngClass -->
<label [ngClass]="[showHide ? 'styleclass' : 'styleclass2']" >okay2</label>
