<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div formGroupName="personalData">
             <div class="form-group ">
              <label>First Name</label>
              <input type="text" class="form-control" formControlName="fname">
             </div>
             <div class="form-group ">
              <label>Last Name</label>
              <input type="text" class="form-control" formControlName="lname">
            </div>
       
          <div class="form-group">
            <label>Gender : &nbsp;</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" value="male" formControlName="gender">
              <label class="form-check-label">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" value="female" formControlName="gender">
              <label class="form-check-label">Female</label>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Email</label>
              <input type="email" class="form-control" formControlName="email">
            </div>
            <div class="form-group col-md-6">
              <label>Password</label>
              <input type="password" class="form-control" formControlName="password">
            </div>
          </div>
          <div class="form-group ">
            <label>State</label>
            <select class="form-control" formControlName="state">
              <option value="">Select State</option>
              <option *ngFor='let state of stateList' [value]="state">{{state}}</option>
            </select>
          </div>
          <div class="form-group ">
            <label>Date</label>
            <input type="date" class="form-control" formControlName="date">
          </div>

          <div class="form-group ">
            <label>Known Technology</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" formControlName="exp">
              <label class="form-check-label">Experienced</label>
            </div>
           
          </div>
          <button type="submit" class="btn btn-primary">Sign up</button>

    </div>
   
</form>
<app-success-signup></app-success-signup>